[Unit]
Description=badge_daemon
Wants=mysqld.service
After=mysqld.service

[Service]
Type=simple
ExecStart=badge_daemon -f conf/badge_daemon.conf

[Install]
WantedBy=multi-user.target
