[Unit]
Description=badge_daemon
Wants=mysqld
After=mysqld

[Service]
Type=simple
ExecStart=badge_daemon -f conf/badge_daemon.conf

[Install]
WantedBy=multi-user.target
