@CHARSET "UTF-8";
table{
	border-collapse: collapse;
}
table#report td, table#report th{
	border-style: solid;
	border-width: 1px;
	padding: 0px 0px 0px 0px;
	text-align: center;
	margin: 0px;
}
table#report{
	margin-left: 30px;
	width: 80%;
}
table#report tfoot tr th{
	border-style: none;
	background-color: transparent;
}

.odd{
	background-color: #f8f8f8;
}
table#report thead th{
	border-style: none;
	background-color: #0000cc;
	color: white;
	padding: 0px 0px 0px 0px;
	text-align: center;
	margin: 0px;
}